{% extends 'web/base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vopa sigin</title>
    <link rel="stylesheet" href="{% static 'web/css/signin.css' %}">
</head>

<body>
    <br><br><br><br><br>
    {% for m in messages %}
    <p style="color:rgb(10, 159, 79)">{{m}}</p>
    {% endfor %}
    <h2>Fill to log in</h2>

    <form class="formsignin" action="" method="POST">

        {% csrf_token %}

        <div class="container">
            <label for="uname"><b>Username</b></label><br>
            <input type="email" placeholder="example: example@gmail.com" name="email" required>
            <br>
            <label for="psw"><b>Password</b></label><br>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br><br>
            <button class="buttonlogin">Login</button>
            <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
        </div>

        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </form>

</body>

</html>

{% endblock %}